{% extends "base_generic.html" %}

{% block title %}<title>Паста | Вики</title>{% endblock %}

{% block content %}
<div>
    <a href="{% url 'ingredient-groups-list' %}">
        <img src="/media/img/logo.png" alt="Ингредиенты" width="100" height="100">
    </a>
    <div>
        <a href="{% url 'ingredient-groups-list' %}">Ингредиенты</a>
    </div>
</div>
<div>
    <a href="{% url 'instruments-list' %}">
        <img src="/media/img/logo.png" alt="Инструменты" width="100" height="100">
    </a>
    <div>
        <a href="{% url 'instruments-list' %}">Инструменты</a>
    </div>
</div>
{% endblock %}