{% extends "base_generic.html" %}

{% block title %}<title>Паста | Добавить рецепт</title>{% endblock %}

{% block header_scripts %}
{{ ingredient_formset.media.css }}
{% endblock %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    {{ recipe_form.author.as_hidden }}
    {{ recipe_form.slug.as_hidden }}
    <div class="fieldWrapper">
        {{ recipe_form.title.errors }}
        {{ recipe_form.title.label_tag }}
        {{ recipe_form.title }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.cuisine.errors }}
        {{ recipe_form.cuisine.label_tag }}
        {{ recipe_form.cuisine }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.menu.errors }}
        {{ recipe_form.menu.label_tag }}
        {{ recipe_form.menu }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.cooking_time.errors }}
        {{ recipe_form.cooking_time.label_tag }}
        {{ recipe_form.cooking_time }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.image.errors }}
        {{ recipe_form.image.label_tag }}
        {% if recipe_form.instance.image %}
        <br>
        <img src="{{ recipe_form.instance.image.url }}" width="200" height="200">
        {% endif %}
        {{ recipe_form.image }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.description.errors }}
        {{ recipe_form.description.label_tag }}
        {{ recipe_form.description }}
    </div>
    
    <h3>Ингредиенты</h3>
    <div id="ingredients-form">
        {% for error in ingredient_formset.non_form_errors %}
        <span class="errors">{{ error }}</span>
        {% endfor %}
        {% for form in ingredient_formset %}
        <div class="ingredient" {% if form.DELETE.value %}hidden="hidden"{% endif %}>
            {{ form.id }}
            {{ form.ingredient }}
            {{ form.amount }}
            {{ form.unit }}
            {{ form.DELETE.as_hidden }}
            <i class="fa fa-times delete-form" aria-hidden="true"></i>
            {% if form.errors %}
            <span class="errors">Заполните поля или удалите их.</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {{ ingredient_formset.management_form }}
    <span id="add_ingredient">Добавить ингредиент</span>

    <h3>Шаги</h3>
    <div id="steps-form">
        {% for error in step_formset.non_form_errors %}
        <span class="errors">{{ error }}</span>
        {% endfor %}
        {% for form in step_formset %}
        <div class="step" {% if form.DELETE.value %}hidden="hidden"{% endif %}>
            {{ form.id }}
            {% if form.instance.image %}
            <img src="{{ form.instance.image.url }}" width="100" height="100">
            {% endif %}
            {{ form.image }}
            {{ form.description }}
            {{ form.DELETE.as_hidden }}
            <i class="fa fa-times delete-form" aria-hidden="true"></i>
            {% if form.errors %}
            <span class="errors">Заполните поля или удалите их.</span>
            {% endif %}
        </div>
        {% endfor %}
    </div>
    {{ step_formset.management_form }}
    <span id="add_step">Добавить шаг</span>

    <div>
        <input type="submit" name="submit-save" value="Сохранить">
        <input type="submit" name="submit-publish" value="Опубликовать">
    </div>

</form>
{% endblock %}

{% block footer_scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{{ ingredient_formset.media.js }}
<script>
var ingredient_form_count = {{ ingredient_formset.total_form_count }};
var step_form_count = {{ step_formset.total_form_count }};

$('#add_ingredient').click(function() {
    if ({{ ingredient_formset.absolute_max }} > ingredient_form_count) {
        var new_form = (
            '<div class="ingredient">' +
            '{{ ingredient_formset.empty_form.ingredient|escapejs }} ' +
            '{{ ingredient_formset.empty_form.amount|escapejs }} ' +
            '{{ ingredient_formset.empty_form.unit|escapejs }} ' +
            '{{ ingredient_formset.empty_form.DELETE.as_hidden|escapejs }} ' +
            '<i class="fa fa-times delete-form" aria-hidden="true"></i>' +
            '</div>'
        ).replace(/__prefix__/g, ingredient_form_count);
        $('#ingredients-form').append(new_form);
        ingredient_form_count++;
        $('#id_ingredient-TOTAL_FORMS').val(ingredient_form_count);
    };
});

$('#add_step').click(function() {
    if ({{ step_formset.absolute_max }} > step_form_count) {
        var new_form = (
            '<div class="step">' +
            '{{ step_formset.empty_form.image|escapejs }} ' +
            '{{ step_formset.empty_form.description|escapejs }} ' +
            '{{ step_formset.empty_form.DELETE.as_hidden|escapejs }} ' +
            '<i class="fa fa-times delete-form" aria-hidden="true"></i>' +
            '</div>'
        ).replace(/__prefix__/g, step_form_count);
        $('#steps-form').append(new_form);
        step_form_count++;
        $('#id_step-TOTAL_FORMS').val(step_form_count);
    };
});

$('#ingredients-form, #steps-form').on('click', '.delete-form', function(){
    let parrentDiv = $(this).closest('div');
    parrentDiv.find('input[id*="DELETE"]:hidden').attr('value', 'on');
    parrentDiv.attr('hidden', true);
});

</script>
{% endblock %}