{% extends "base_generic.html" %}

{% block content %}
{% block sidebar %}{% endblock %}
{% block navigation_button %}{% endblock %}
<div class="filter-form">
    <form action="" method="get">
        {{ form }}
        {% block add_filter_fields %}{% endblock add_filter_fields %}
        <input type="submit" value="Показать">
    </form>
</div>
{% block search_info %}{% endblock %}
{% if recipe_list %}
{% for recipe in recipe_list %}
{% include './includes/recipe_preview_block.html' %}
{% endfor %}
{% else %}
<h3>Не найдено ни одного рецепта</h3>
{% endif %}
{% endblock %}
{% block footer_scripts %}
{% include './includes/favorite_script.html' %}
{% endblock %}