{% extends "base_generic.html" %}

{% block title %}<title>Паста | Список рецептов</title>{% endblock %}
{% block content %}
{% block sidebar %}{% endblock %}
{% block navigation_button %}{% endblock %}
<div class="filter-form">
    <form action="" method="get">
        {{ form }}
        {% block add_filter_fields %}{% endblock add_filter_fields %}
        <input type="submit" value="Показать" class="btn btn-primary btn-sm">
    </form>
</div>
{% block search_info %}{% endblock %}
{% for recipe in recipe_list %}
{% include './includes/recipe_preview_block.html' with instance=recipe %}
{% empty %}
<h3>Не найдено ни одного рецепта</h3>
{% endfor %}
{% endblock %}
{% block footer_scripts %}
{% include './includes/favorite_script.html' %}
{% endblock %}