{% extends "base_generic.html" %}

{% block content %}

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="fieldWrapper">
        {{ recipe_form.title.errors }}
        {{ recipe_form.title.label_tag }}
        {{ recipe_form.title }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.cuisine.errors }}
        {{ recipe_form.cuisine.label_tag }}
        {{ recipe_form.cuisine }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.menu.errors }}
        {{ recipe_form.menu.label_tag }}
        {{ recipe_form.menu }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.cooking_time.errors }}
        {{ recipe_form.cooking_time.label_tag }}
        {{ recipe_form.cooking_time }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.image.errors }}
        {{ recipe_form.image.label_tag }}
        {{ recipe_form.image }}
    </div>
    <div class="fieldWrapper">
        {{ recipe_form.description.errors }}
        {{ recipe_form.description.label_tag }}
        {{ recipe_form.description }}
    </div>
    
    <h3>Ингредиенты</h3>
    <div id="ingredients-form">
        {% for form in ingredient_formset %}
        <div>
            {{ form.ingredient }}
            {{ form.amount }}
            {{ form.unit }}
            <i class="fa fa-times ingredient-delete" aria-hidden="true"></i>
        </div>
        {% endfor %}
    </div>
    {{ ingredient_formset.management_form }}
    <span id="add_ingredient">Добавить ингредиент</span>

    <h3>Шаги</h3>
    <div id="steps-form">
        {% for form in step_formset %}
        <div>
            {{ form.image }}
            {{ form.description }}
            <i class="fa fa-times step-delete" aria-hidden="true"></i>
        </div>
        {% endfor %}
    </div>
    {{ step_formset.management_form }}
    <span id="add_step">Добавить шаг</span>

    <div>
        <input type="submit" name="submit-save" value="Save">
        <input type="submit" name="submit-publish" value="Publish">
    </div>

</form>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script>
var ingredient_form_count = {{ ingredient_formset.total_form_count }};
var step_form_count = {{ step_formset.total_form_count }};

$('#add_ingredient').click(function() {
    var new_form = (
        '<div>' +
        '{{ ingredient_formset.empty_form.ingredient|escapejs }} ' +
        '{{ ingredient_formset.empty_form.amount|escapejs }} ' +
        '{{ ingredient_formset.empty_form.unit|escapejs }} ' +
        '<i class="fa fa-times ingredient-delete" aria-hidden="true"></i>' +
        '</div>'
    ).replace(/__prefix__/g, ingredient_form_count);
    $('#ingredients-form').append(new_form);
    ingredient_form_count++;
    $('#id_ingredient-TOTAL_FORMS').val(ingredient_form_count);
});

$('#add_step').click(function() {
    var new_form = (
        '<div>' +
        '{{ step_formset.empty_form.image|escapejs }} ' +
        '{{ step_formset.empty_form.description|escapejs }} ' +
        '<i class="fa fa-times step-delete" aria-hidden="true"></i>' +
        '</div>'
    ).replace(/__prefix__/g, step_form_count);
    $('#steps-form').append(new_form);
    step_form_count++;
    $('#id_step-TOTAL_FORMS').val(step_form_count);
});

$('#ingredients-form').on('click', '.ingredient-delete', function(){
    $(this).closest('div').remove();
    ingredient_form_count--;
    $('#id_ingredient-TOTAL_FORMS').val(ingredient_form_count);
});

$('#steps-form').on('click', '.step-delete', function(){
    $(this).closest('div').remove();
    step_form_count--;
    $('#id_step-TOTAL_FORMS').val(step_form_count);
});

</script>
{% endblock %}