{% extends "base_generic.html" %}

{% block content %}
{% block sidebar %}
{% include "./includes/sidebar.html" %}
{% endblock %}
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
        <p>
            {{ form.photo.label }}<br>
            {% if request.user.photo %}
            <img src="{{ request.user.photo.url }}" width="100" height="100"><br>
            {% endif %}
            {{ form.photo }}
            {{ form.photo.errors }}
        </p>
        <p>
            {{ form.first_name.label }}<br>
            {{ form.first_name }}
            {{ form.first_name.errors }}
        </p>
        <p>
            {{ form.last_name.label }}<br>
            {{ form.last_name }}
            {{ form.last_name.errors }}
        </p>
    </div>
    <input type="submit" value="Изменить">
</form>
{% endblock %}