{% extends "base_generic.html" %}

{% block title %}<title>Паста | Профиль</title>{% endblock %}

{% block content %}
{% block sidebar %}
{% include "./includes/sidebar.html" %}
{% endblock %}
<form action="" method="post" enctype="multipart/form-data" class="change-personal-info">
    {% csrf_token %}
    <div class="user-photo">
        <div class="cover-wrapper">
            {% if request.user.photo %}
            <img src="{{ request.user.photo.url }}">
            {% else %}
            {% include 'accounts/includes/default_user_photo.html' %}
            {% endif %}
        </div>
        {{ form.photo }}
        {{ form.photo.errors }}
    </div>
    <div class="credentials">
        {{ form.first_name.label }}
        {{ form.first_name }}
        {{ form.first_name.errors }}
        {{ form.last_name.label }}
        {{ form.last_name }}
        {{ form.last_name.errors }}
    </div>
    <input type="submit" class="btn btn-primary" value="Сохранить"></button>
</form>
{% endblock %}