<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $(".favorite-update-form").submit(function(e){
            e.preventDefault();
            let form = $(this)
            let url = form.attr("action");
            $.ajax({
                type: "POST",
                data: $(this).serialize(),
                url: url,
                dataType: "json",
                success: function(response) {
                    let i = form.find("i").first()
                    if (i.hasClass("favorite")) {
                        i.removeClass("favorite")
                    } else {
                        i.addClass("favorite")
                    }
                },
                error: function(response) {
                    console.log(response.responseJSON.errors)
                }
            })
        })
    })
</script>