<!DOCTYPE html>
<html lang="ru">
<head>
  {% block title %}<title>Pasta | Homepage</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'font_awesome/css/all.css' %}">
</head>
<body>
  {% block header %}
  <header>
      <a class="logo" href="{% url 'index' %}">
        <img src="/media/img/logo.png">
      </a>
      <ul class="navigation applinks">
        <li><a href="{% url 'recipe-list' %}">РЕЦЕПТЫ</a></li>
        <li><a href="{% url 'blog' %}">БЛОГ</a></li>
        <li><a href="{% url 'wiki' %}">ВИКИ</a></li>
      </ul>
      <div class="search">
        <input type="text" name="" id="" placeholder="Search...">
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <ul class="navigation usertools">
        <div>
          <li><a href="">Избранное</a></li>
          <!-- <i class="fa fa-bookmark" aria-hidden="true"></i> -->
        </div>
        <div>
          <li><a href="">Добавить рецепт</a></li>
          <!-- <i class="fa fa-plus" aria-hidden="true"></i> -->
        </div>
        <div>
          <li><a href="">Войти</a></li>
          <!-- <i class="fa fa-user-o" aria-hidden="true"></i> -->
        </div>
      </ul>
  </header>
  {% endblock %}
  <div class="content-frame">
    <div class="content">
      {% block content %}{% endblock %}
    </div>
  </div>
  {% block footer %}{% endblock %}
</body>
</html>