{% extends "base_generic.html" %}

{% block content %}

<div class="main-block">
    <div class="hp-title">
        <a href="{% url 'recipe-list' %}">РЕЦЕПТЫ</a>
    </div>
    {% with template_path='recipes/includes/recipe_preview_block.html' %}

    {% with instance_list=recipe_list %}
    {% with empty_msg='Кажется наши повара объелись белены и не составили ещё ни одного рецепта. Приносим свои извинения.' %}
    {% include './includes/content_block.html' %}
    {% endwith %}{% endwith %}

    {% endwith %}
</div>

<div class="main-block">
    <div class="hp-title">
        <a href="{% url 'wiki' %}">ВИКИ</a>
    </div>
    {% with template_path='wiki/includes/wiki_preview_block.html' %}

    {% with subtitle='Ингредиенты' %}
    {% with subtitle_url='ingredient-groups-list' %}
    {% with instance_list=ingredient_list %}
    {% with empty_msg='Холодильник опустел. Пора наведаться в магазин.' %}
    {% include './includes/content_block.html' %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

    {% with subtitle='Инструменты' %}
    {% with subtitle_url='instruments-list' %}
    {% with instance_list=instrument_list %}
    {% with empty_msg='Мастерская закрыта. Инструменты все проданы. Приходите в другой раз.' %}
    {% include './includes/content_block.html' %}
    {% endwith %}{% endwith %}{% endwith %}{% endwith %}

    {% endwith %}
</div>

{% endblock %}
{% block footer_scripts %}
{% include 'recipes/includes/favorite_script.html' %}
{% endblock %}