{% extends "wiki/instrument_list.html" %}

{% block title %}<title>Паста | Поиск инструментов</title>{% endblock %}

{% block navigation_button %}
<a href="{% url 'search' %}?text={{ text|urlencode }}"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
{% endblock navigation_button %}

{% block search_form %}
    {% include './includes/search_box_block.html'%}
{% endblock search_form %}

{% block search_info %}
{% include 'search/includes/search_title_block.html' %}
{% include 'search/includes/search_header_block.html' with title='Инструменты' list=instrument_list %}
{% endblock %}

{% block pagination_page_links %}
{% include './includes/pagination_block.html' %}
{% endblock pagination_page_links %}
